@page
@model LoginModel

@{
    ViewData["Title"] = "Giriş";
}
<section class="mb-5">
    <div class="w-100 pt-60 position-relative">
        <div class="fixed-bg" style="background-image: url(/images/bbg3.jpg);"></div>
        <div class="container">
            <div class="page-title-wrap text-center w-100 d-inline-block">
                <div class="page-title-inner d-inline-block">
                    <h2 class="mb-0 text-color7">Üye Girişi</h2>

                </div>

            </div><!-- Page Title Wrap -->
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Kullanıcı Girişi</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>Kullanıcı Adı</label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>Parola</label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe" />
                                Beni Hatırla
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Giriş</button>
                    </div>
                    <div class="form-group">
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Parolayı unuttunuz mu?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Kayıt ol</a>
                        </p>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Bisorun sitesinde neler yapabilirsiniz?</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                Aklınıza takılan her türlü soruyu sorabilirsiniz. Sorusu olan insanların sorularını cevaplayarak yardım edebilirsiniz.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
